@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-salmon: #ff7e6a;
  --color-dark-gray: #3d3d3d;
  --color-medium-gray: #606060;
  --color-white: #ffffff;
  --color-light-cream: #fdfdfd;
  --color-light-gray: #e5e7eb;
  --color-brown: #2d2424;
  --font-base: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-title: var(--font-geist-sans), sans-serif; 
}

@utility text-body {
  font-family: var(--font-base);
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.5;
}

@utility text-body-bolder {
  font-family: var(--font-base);
  font-size: var(--text-base);
  font-weight: 700;
  line-height: 1.5;
}

@utility text-small {
  font-family: var(--font-base);
  font-size: var(--text-sm);
  font-weight: 400;
}

@utility text-small-bolder {
  font-family: var(--font-base);
  font-size: var(--text-sm);
  font-weight: 700;
}

@utility text-title {
  font-family: var(--font-title);
  font-size: 3rem; /* text-5xl */
  font-weight: 700;
  line-height: 1.2;
}

@utility text-subtitle {
  font-family: var(--font-title);
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
}
